.section2-hero-container {
  background-color: #fff;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0);
  object-fit: contain;
  margin-top: -80px; /* Reduce the margin from the top */
  padding-top: 2px; /* Add padding from the top */
}
.section2-hero-container > h1 {
  color: #863f1c;
  font-size: 46px;
  margin-top: -40px;
  margin-bottom: -20px;
}

.box.selected {
  background-color: pink; /* Change the background color to pink for selected boxes */
  border: 2px solid #863f1c; /* Add border for selected boxes */
}

.section2-hero-subheading {
  margin-top: 16px;
  color: #863f1c;
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@media screen and (min-width: 900px) {
  .box-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    flex-wrap: nowrap; /* Prevent boxes from wrapping to the next row */
  }
}

.box img {
  width: 100%;
  height: auto;
  max-height: 150px; /* Reduce the max-height to make the boxes smaller */
}

.box {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: "#00000";
  padding: 8px; /* Reduce the padding to make the boxes smaller */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 8px; /* Reduce the margin to make the boxes smaller */
  height: 200px; /* Set a fixed height for all boxes */
  width: 200px; /* Set a fixed width for all boxes */
}

.box-button {
  margin-top: 10px;
}
.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

/* Add this style to change the "continue" button */

/* Add this style for hover effect on the button (optional) */
button:hover {
  background-color: #64220c; /* Change the hover background color */
}

@media (max-width: 1200px) {
  .section2-hero-container > h1 {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
