.section3-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10%;
}

@media screen and (min-width: 900px) {
  .box-container {
    display: grid; /* Use CSS Grid for a 2x2 grid */
    grid-template-columns: repeat(4, 1fr); /* 2 columns with equal width */
    gap: 20px; /* Add gap between the boxes */
    margin-top: 20px; /* Adjust the top margin as needed */
    margin-right: 10px;
  }
}
